.notification {
	width: 512px;

	display: flex;
	flex-direction: column;
	font-size: 14px;

	background-color: #323232;
	margin-top: 10px;
	border-radius: 8px;
	transition: all 0.3s;
	color: white;
}

.content {
	display: flex;
	align-items: center;
	padding: 10px 10px 10px 20px;
	min-height: 64px;
}

.title {
	color: white;
	flex-grow: 1;
	padding-right: 12px;
}

.rollbackBtn {
	margin-right: 16px;
	color: #ffbb00;
	transition: all 0.3s;
	font-size: 14px;
}

.rollbackBtn:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.closeIconBtn {
	background-color: transparent;
	height: 36px;
	width: 36px;
}

.closeIconBtn:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.closeIconBtn:hover > .closeIcon {
	color: white;
}

.closeIcon {
	font-size: 18px;
	color: white;
}

.progressBar {
	height: 4px;
	background-color: #ffbb00;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	animation-timing-function: linear;
	animation-name: width;
	animation-duration: 5s;
}

@keyframes width {
	from {
		width: 100%;
	}
	to {
		width: 0;
	}
}
