.sideMenuButton {
	border-radius: 0 25px 25px 0;
	color: var(--main-gray-text-color);
	display: flex;
	align-items: center;
	line-height: 1.25rem;
	height: 48px;
	min-width: 48px;
	overflow: hidden;
	width: 100%;
	cursor: pointer;
}

.expanded {
	padding-left: 12px;
}

.collapsed {
	margin-left: 12px;
	border-radius: 25px;
}

.sideMenuButton:hover {
	background-color: #f1f3f4;
}

.active,
.active:hover {
	background-color: #feefc3;
}

.icon {
	width: 24px;
	margin: 0 12px;
	display: flex;
	align-items: center;
}

.title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 8px;
	user-select: none;
}
