.root {
	border: none;
	border-radius: 4px;
	padding: 0 16px;
	min-width: 64px;
	min-height: 36px;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	transition: box-shadow 0.3s, opacity 0.3s, background-color 0.3s;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.raised {
	background-color: var(--main-blue-color);
	color: white;
}

.raised:not(.disabled):hover {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	opacity: 0.9;
}

.outlined {
	background-color: white;
	box-shadow: none;
	color: var(--main-blue-color);
	border: 1px solid currentColor;
}

.link {
	border: none;
	background-color: transparent;
}

.outlined:not(.disabled):hover {
	background-color: rgba(33, 150, 243, 0.1);
}

.disabled {
	opacity: 0.8;
	cursor: not-allowed;
}
