:root {
	--main-blue-color: #2196f3;
	--secondary-blue-color: #67daff;
	--main-dark-gray-color: #726464;
	--main-red-color: #e53935;
	--main-green-color: #1b9a59;
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

body > div {
	min-height: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
