.root {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root:hover {
  background-color: rgba(95,99,104,0.157);
}

.icon {
  color: var(--main-dark-gray-color);
  transition: color 0.3s;
}

.root:hover .icon {
  color: black;
}
